@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #bebebe;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 208, 0);
  }

body {
    margin: 0px;
}

.navbar {
    background-color: rgb(231, 231, 231);
    width: 100%;
    height: 60px;
    position: top;
    display: grid;
    grid-template-columns: 150px 230px;
}

.navbar div {
    margin-left: 40px;
    padding-top: 15px;
    padding-left: 25px;
}

.navbar div:hover {
    background-color: rgb(255, 241, 45);
    cursor:pointer;
}

.navbar .selected{
    background-color: rgb(255, 241, 45);
}

.landingArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    width: 100%;
    height: 540px;
}

.landingArea .logoArea {
    display: block;
}

.landingArea .statementArea {
    padding: 80px;
    padding-left: 50px;
    padding-right: 100px;
}

.queryArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 600px;
}

.queryArea .formArea {
    padding: 50px;
}

.queryArea .displayArea {
    padding: 50px;
    padding-left: 0px;
}

#number1 {
    display: block;
}

#number2 {
    display: none;
}